<!DOCTYPE html>
<html>
  <%- include('./templates/head.ejs') %>

  <body>
    <%- include('./templates/nav.ejs') %>
    <main>
      <section class="blogs content">
        <h2>Welcome to My Blog!</h2>
        <p>This is the home section of my blog.</p>
        <hr />

        <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
        <div class="single">
          <a href="/post/<%= blog._id %>">
            <h3 class="title"><%= blog.title %></h3>
            <p class="body"><%= blog.body %></p>
            <p class="timestamp">
              posted on: <%= blog.date.toLocaleString("en-DE",{ day: "2-digit",
              month: "long", year: "numeric"}) %>
            </p>
          </a>
        </div>
        <% }) %> <% } else {%>
        <p>No posts to display</p>
        <% }%>
      </section>
    </main>
    <%- include('./templates/footer.ejs') %>
  </body>
</html>
