<!DOCTYPE html>
<html>
  <%- include('./templates/head.ejs') %>

  <body>
    <%- include('./templates/nav.ejs') %>
    <main>
      <section class="blogs content">
        <h2>Welcome to My Blog!</h2>
        <p>This is the home section of my blog.</p>
        <hr />

        <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
        <h3 class="title"><%= blog.title %></h3>
        <p class="body"><%= blog.body %></p>
        <% }) %> <% } else {%>
        <p>No blogs to display</p>
        <% }%>
      </section>
    </main>
    <%- include('./templates/footer.ejs') %>
  </body>
</html>
